<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{main.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Add a new guest</title>
</head>
<body>
<header>
    <a href="home.html">
        <div class="menuButton">
            <img th:src="@{R.png}" alt="Logo">
            <span>bnb</span>
        </div>
    </a>
    <h1 class="newUserHead">New Guest</h1>
</header>

<main class="containerNewHost">
    <form th:action="@{/guest}" th:object="${guest}" method="post">
        <label for="user">
            User Id:
        </label>
        <select id="user" name="user" required>
            <option th:each="user : ${users}" th:value="${user.idUser}" th:text="${user.name + ' (' + user.email + ' - ' + user.phoneNumber + ')'}"></option>
        </select>
        <br/>
        <button class="registerButton">Register</button>
    </form>
</main>

<footer></footer>
</body>
</html>