<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{main.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Add a new user</title>
</head>
<body>
<header>
    <a href="home.html">
        <div class="menuButton">
            <img th:src="@{R.png}" alt="Logo">
            <span>bnb</span>
        </div>
    </a>
    <h1 class="newUserHead" style="color: #1753ED">New User</h1>
</header>
<main class="containerNewUser">
    <form th:action="@{/user}" th:object="${user}" method="post">
        <label class="nameLabel">
            Name:
            <input class="nameInput" type="text" id="name" th:field="*{name}"/>
        </label>
        <br/>
        <label class="phoneLabel">
            Phone Number:
            <input class="phoneInput" type="text" id="phoneNumber" th:field="*{phoneNumber}"/>
        </label>
        <br/>
        <label class="emailLabel">
            Email:
            <input class="emailInput" type="text" id="email" th:field="*{email}"/>
        </label>
        <br/>
        <label class="passwordLabel">
            Password:
            <input class="passwordInput" type="text" id="password" th:field="*{password}"/>
        </label>
        <br/>
        <button class="registerButton">Register</button>
    </form>
</main>

<footer></footer>
</body>
</html>