<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{main.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Reserved Places By Capacity</title>
</head>
<body>


</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserved Places By Capacity</title>
</head>
<body>

<a href="reports.html">
    <div class="menuButton">
        <img th:src="@{R.png}" alt="Logo">
        <span>bnb</span>
    </div>
</a>
<h1 class="newUserHead">Reserved Places By Capacity</h1>

<!-- Formulário de busca -->
<form class="containerPlaceToBook" action="/reserved-places" method="get">
    <label for="minCapacity">Capacity:</label>
    <input type="number" id="minCapacity" name="minCapacity" required>
    <button type="submit">Search</button>
</form>


<!-- Resultados da busca -->
<h2>Results</h2>

<table class="searchPlaceToBook">
    <tr>
        <th>#</th>
        <th>Capacity</th>
        <th>MeanReview</th>
        <th>NRooms</th>
        <th>NBathroom</th>
        <th>Price</th>
        <th>NKitchen</th>
        <th>NLivingRooms</th>
        <th>ReservationStatus</th>
        <th>Host id</th>
        <th>Place id</th>
        <th>Name</th>
    </tr>
    <tr th:each="placeToBook : ${placeToBooks}" style="color: black"> <!-- O each serve para mostrar todos os hosts-->
        <td><span th:text="${placeToBook.idPlaceToBook}"></span></td>
        <td><span th:text="${placeToBook.capacity}"></span></td>
        <td><span th:text="${placeToBook.meanReview}"></span></td>
        <td><span th:text="${placeToBook.NRooms}"></span></td>
        <td><span th:text="${placeToBook.NBathroom}"></span></td>
        <td><span th:text="${placeToBook.price}"></span></td>
        <td><span th:text="${placeToBook.NKitchen}"></span></td>
        <td><span th:text="${placeToBook.NLivingRooms}"></span></td>
        <td><span th:text="${placeToBook.reservationStatus}"></span></td>
        <td><span th:text="${placeToBook.host.idHost}"></span></td>
        <td><span th:text="${placeToBook.place.idPlace}"></span></td>
        <td><span th:text="${placeToBook.host.user.name}"></span></td>
    </tr>
</table>

</body>
</html>